<ng-template #employeeCard let-employee>
  <div class="employees-wrapper">
    <div class="employee-data">
      <p
        [class.selected]="employee.isSelected"
        class="employee-data__name"
        (click)="employee.changeSelectionState()"
      >
        {{ employee.name }}
      </p>
      <p
        class="employee-data__possibilities"
        (click)="checkPossibilities(employee.possibilities)"
      >
        ?
      </p>
    </div>
    <div *ngFor="let child of employee.children">
      <ng-container
        *ngTemplateOutlet="employeeCard; context: { $implicit: child }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-container
  *ngTemplateOutlet="employeeCard; context: { $implicit: employee }"
></ng-container>
