<ng-template #employeeCard let-employee>
  <div class="employee">
    <p
      [class.selected]="employee.isSelected"
      class="employee__name"
      (click)="employee.changeSelectionState()"
    >
      {{ employee.name }}
    </p>
    <div *ngFor="let child of employee.children">
      <ng-container
        *ngTemplateOutlet="employeeCard; context: { $implicit: child }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-container
  *ngTemplateOutlet="employeeCard; context: { $implicit: employee }"
></ng-container>
